__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

.venv/
env/
conda-env/

data/raw/
data/interim/
data/processed/
logs/
scripts/tools/
*.tar
examples/lronac_quick/LRONAC_example/run/

*.IMG
*.img
*.cub
*.tif
*.tiff
*.las
*.laz
*.npy
*.npz
print.prt

*.aux.xml
*.msk

*-PC.tif
*-DEM.tif
*-DRG.tif
*-D.tif
*-F.tif
*-L.tif
*-R.tif

*.pt
*.pth
*.ckpt

.DS_Store
Thumbs.db
